<h2>Añadir un comentario</h2>

<form method="post" action="/quizes/<%= quizid %>/comments/" >
	<input type="text" id="comment" name="comment[texto]" value="" />
	<button type="submit">Enviar</button>
</form>