<label 	for="preg"
		class="rem">Pregunta:</label>
<input 	type="text"
		id="preg"
		name="quiz[pregunta]"
		value="<%= quiz.pregunta %>" /> <p>
<label 	for="resp"
		class="rem">Respuesta:</label>
<input 	type="text"
		id="resp"
		name="quiz[respuesta]"
		value="<%= quiz.respuesta %>" /> <p>
<label 	for="tema"
		class="rem">Temática:</label>
<select id="tema" name="quiz[tema]">
	<option value=""></option>
	<option value="ast">Astronomía</option>
	<option value="bio">Biología</option>
	<option value="geo">Geografía</option>
	<option value="quim">Química</option>
	<option value="otros">Otros</option>
</select> <p>
<a href="/quizes"><button class="cancelbutton" type="button">Cancelar</button></a>
<input type="submit" value="Guardar">