<h2>Modifica la pregunta</h2>
<form method="post" action="/quizes/<%= quiz.id %>?_method=put" >
	<% include _form.ejs %>
</form>

<script>
	function correctTheme() {
		if (!document.getElementById("ErrorMsgs")) {
			document.getElementById("tema").value = "<%= quiz.tema %>";
		}
	}	

	correctTheme();
</script>