<h2>Añade una pregunta:</h2>
<form method="post" action="/quizes/create">
	<% include _form.ejs %>
</form>

<script>
	function emptyInput() {
		if (!document.getElementById("ErrorMsgs")) {
			document.getElementById("preg").value = "";
			document.getElementById("resp").value = "";
			document.getElementById("tema").value = "";
		}
	}	

	emptyInput();
</script>